img {
// margin-left: 25vw;
border-radius: 50%;
  width: 250px;
  height: 250px;
}
.vertical-align-content > *
{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  // height: 100%;
}
