<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Create New User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center padding class="vertical-align-content">
  <ion-grid> 
    <ion-row>
      <ion-col>     
        <img src="../../../assets/shapes.svg">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
  <form #form="ngForm" (ngSubmit)="creatNewUser()">
    <ion-item>
      <ion-label>First Name:</ion-label>
      <ion-input type="text" [(ngModel)]="firstName" ngControl="firstName" name="firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Last Name:</ion-label>
      <ion-input type="text" [(ngModel)]="lastName" ngControl="lastName" name="lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Position:</ion-label>
      <ion-input type="text" [(ngModel)]="position" name="position"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Cell:</ion-label>
      <ion-input type="text" [(ngModel)]="cell" name="cell"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Area:</ion-label>
      <select [(ngModel)]="area" name="area">
        <option *ngFor="let area of filterbyarea" value={{area}}>{{area}}</option>
     </select>    
    </ion-item> 
    <ion-item>
      <ion-label>Type:</ion-label>
      <select [(ngModel)]="type" name="type">
        <option *ngFor="let type of filterbytype" value={{type}}>{{type}}</option>
     </select>
    </ion-item> 
    <ion-button padding type="submit" block color="success">Submit</ion-button>    
  </form>
</ion-grid>
</ion-content>