<ion-header>
  <ion-toolbar color="success">
    <ion-title>Welcome to BGGoPlan! Please Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='ion-padding'>
  <form> 
    <ion-list>
      <ion-item>
        <ion-label  required position="stacked"> Name:</ion-label>
        <ion-input type="text" [(ngModel)]="name" name="name"></ion-input> 
      </ion-item>
    <!-- <ion-item>
      <ion-label  required position="stacked">First Name:</ion-label>
      <ion-input type="text" [(ngModel)]="firstName" name="firstName"></ion-input> 
    </ion-item>
    <ion-item>
      <ion-label required position="stacked">Last Name:</ion-label>
      <ion-input type="text" [(ngModel)]="lastName" name="lastName"></ion-input>
    </ion-item> -->
    <ion-item>
      <ion-label  required position="stacked">Email:</ion-label>
      <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label  required position="stacked">Password:</ion-label>
      <ion-input type="text" [(ngModel)]="password" name="password"></ion-input>
    </ion-item>   
    <ion-button color="success" type="submit" (click)="register()">Register</ion-button>
    <ion-button color="success" routerLink='/login' >Cancel</ion-button>
  </ion-list>
  </form>
</ion-content>
