<ion-header>
  <ion-toolbar color="success">
    <ion-title>Welcome to BGGoPlan!! <strong> Sign In</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='ion-padding'>
  <form> 
    <ion-list>
      <ion-item>
        <ion-label  required position="stacked">Email:</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label  required position="stacked">Password:</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
      </ion-item>
      <ion-button color="success" type="submit" (click)="login()" [disabled]="!password||!email">Login</ion-button>
    </ion-list>
    </form>
  <div style=" margin-bottom: 20%;">
    <a [routerLink]="['/signup']" ><p>donot have an account?</p></a>
  </div>
  <div><a href="https://firebasestorage.googleapis.com/v0/b/mywebdata-f9dcd.appspot.com/o/Myictures%2Fangular%20planning?alt=media&token=f05edc1b-5b29-4d86-9bdd-366f121c04f2" style="color:black;background: yellow; margin: 5%;cursor: pointer;">Angular Planning</a></div>
        
  <div><a href="https://firebasestorage.googleapis.com/v0/b/bggoplan-sandbox2.appspot.com/o/reports%2Fangluar%20powerpoint.pptx?alt=media&token=34e69a83-f941-44bb-a032-11b854b86f33" style="color:black;background: yellow;margin: 5%;">Angular Monday Report</a></div>
        
  <div><a href="https://firebasestorage.googleapis.com/v0/b/bggoplan-sandbox2.appspot.com/o/reports%2Fangluar%20powerpoint%20tuesday.pptx?alt=media&token=932ee357-c68f-409d-b83f-634932b13a59" style="color:black;background: yellow;margin: 5%;">Angular Tuesday Report</a></div>
</ion-content>
