.vertical-align-content > *
{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  
}
select{
  border: none;
}
img {
  border-radius: 50%;
  width: 50%;
  height: 50%;
  }