
div[scrollx=true],div[scrolly=true] {
  position: relative;
  overflow: hidden;
}

div[scrollx=true] {
  overflow-x: auto;
}

div[scrolly=true] {
  overflow-y: auto;
  border-color: grey;
}


.bottom{
  position: fixed;
  z-index: 10;
  bottom: 1px;
  width:100%;
  background-color: rgb(230, 243, 230) !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
.nopadding{
padding:0;
margin:0;
text-align: center;
}