#container {
 text-align: center;
border-color: lightseagreen;
  position: relative;
  left: 0;
  right: 0;
}

#container a {
  text-decoration: none;
}

div[scrollx=true],div[scrolly=true] {
  position: relative;
  overflow: hidden;
}

div[scrollx=true] {
  overflow-x: auto;
}

div[scrolly=true] {
  overflow-y: auto;
  border-color: grey;
}

#scroll-list{
  height: 30vh;
  width:  95vw;
}

.ion-item {
  color : "Black";
  padding:0;
  margin: 0;
  background-color: lightgrey;
  --background-activated: red;
}

.ion-item.active {
 color : "white";
 background-color: pink;
 --background-activated: red;
 $list-ios-activated-background-color: #d9d9d9;
$list-md-activated-background-color: #f1f1f1;
$list-wp-activated-background-color: #aaa;
}
img{
  background-color: lightgreen;
}

.filterby{
display: inline;
background-color: limegreen;
border-radius: 5px;
padding:5px;
margin-left: 20%;
}