$list-ios-activated-background-color: #d9d9d9;
$list-md-activated-background-color: #f1f1f1;
$list-wp-activated-background-color: #aaa;

#container {
  text-align: center;

  position: relative;
  left: 0;
  right: 0;
   top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


// by me
div[scrollx=true],div[scrolly=true] {
  position: relative;
  overflow: hidden;
}

div[scrollx=true] {
  overflow-x: auto;
}

div[scrolly=true] {
  overflow-y: auto;
}

#scroll-list{
  height: 30vh;
  width:  95vw;
   padding-left: 3vw;
}

.ion-item {
  color : "Black";
  background-color: lightgrey;
  --background-activated: red;
}

.ion-item.active {
 color : "white";
 background-color: pink;
 --background-activated: red;
 $list-ios-activated-background-color: #d9d9d9;
$list-md-activated-background-color: #f1f1f1;
$list-wp-activated-background-color: #aaa;
}