<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      Welcome to BGGoPlan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Response Super-Small Address Book </strong>
    <p>Current Users 
      <!-- <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a> -->
    </p>



   
<table></table>
<ion-row class="nameClass" justify-content-center align-items-center style='height: 100%'>

  <ion-col>
           <div>
               <strong>Name</strong>
           </div>
       </ion-col>
       <ion-col>
           <div>
               <strong>Position</strong>
           </div>
       </ion-col>
   </ion-row>


   








<ion-grid *ngFor="let user of users |async">
  <ion-row>
    <ion-col>
      {{user.name}}
    </ion-col>
    <ion-col>
      {{user.position}}
    </ion-col>
  </ion-row>
  
</ion-grid>



    <!-- <ion-button (click)="openSignUpPage()">Creat New User</ion-button> -->
    <ion-button expand="inline" routerLink="/create-new-user" routerDirection="root">Creat New User</ion-button>
    <ion-button expand="inline" [disabled]="user === 'we'" routerDirection="root">Delete</ion-button>
 

  
    


    
  </div>
</ion-content>
